@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --colour-1:#160e1a;   /* main background color */
    --colour-2: #ccc; 
    --colour-3: #000000;  /* text color */
    --colour-4: #f0f0f0;
    --colour-5: #181818;
    --colour-6: #242424;

    /* --accent5C3D2E: #8b3dff; */
    --blur-bg: #c7bebe;   /* box color */
    --blur-border: #2D242;
    --user-input: #000000;
    --conversations: #000000; /* accent color (convo pane) */
}

:root {
    --font-1: "Inter", sans-serif;
    --section-gap: 25px;
    --border-radius-1: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: var(--font-1);
}

html,
body {
    scroll-behavior: smooth;
    overflow: hidden;
}


body {
    padding: var(--section-gap);
    background: var(--colour-1);
    color: var(--colour-3);
    min-height: 100vh;
}

/* own css */

.hide-greeting{
    opacity: 0;
    transition: opacity 2s ease; /* Define transition for opacity change */
}

#greeting {
    font-family:'Poppins';
    margin: 20px 20px;
    font-size: 48px;
    position: relative;
  }
  
  #greeting::before {
    content: "Hello, please select your language!"; 
    position: absolute; 
    top: 0; left: 0; 
    width: 100%;
    animation: greetings-content 20s linear infinite; /* Separate animation for content */
  }
  
  @keyframes greetings-content {
    0% { color: #c2a5ee; content: "Hello, please select your language!"; } 
    12.4% { color: #2ECC71; content: "नमस्तेकृपया अपनी भाषा चुनें।"; } 
    24.6% { color: #e57842; content: "নমস্কার,আপনার ভাষা নির্বাচন করুন."; } 
    32.8% { color: #34dfc8; content: "வணக்கம், உங்கள் மொழியைத் தேர்ந்தெடுக்கவும்."; } 
    2.2% { color: #c2a5ee; content: "Hello, please select your language!"; } 
    41% { color: #c07315; content: "હેલો, કૃપા કરીને તમારી ભાષા પસંદ કરો."; } 
    49.2% { color: #b437e6; content: "ഹലോ, ദയവായി നിങ്ങളുടെ ഭാഷ തിരഞ്ഞെടുക്കുക."; } 
    57.4% { color: #953232; content: "హలో, దయచేసి మీ భాషను ఎంచుకోండి."; }
    65.6% { color: #64a1dd; content: "ಹಲೋ, ದಯವಿಟ್ಟು ನಿಮ್ಮ ಭಾಷೆಯನ್ನು ಆಯ್ಕೆಮಾಡಿ."; } 
    73.8% { color: #e09040; content: "ନମସ୍କାର, ଦୟାକରି ଆପଣଙ୍କର ଭାଷା ଚୟନ କରନ୍ତୁ |"; } 
    82% { color: #dbea31; content: "নমস্কাৰ, অনুগ্ৰহ কৰি আপোনাৰ ভাষা নিৰ্বাচন কৰক।"; } 
  }
  
  
  
  

.speaker-button{
    margin-top: 8px;
    scale: 1.3;
}
.image-btn{
	cursor: pointer;
}

#image-button{
	margin-left: 27px;
	scale: 1.4;
}
#send-button{
	margin-left: 30px;
	scale: 1.2;
}

#mic-button{
	scale: 1.2 !important;
}



.recording {
	filter: brightness(70%);
	animation: pulse 1s infinite alternate;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.2);
	}
}

.row {
    display: flex;
    gap: var(--section-gap);
    height: 100%;
}

.box {
    overflow-y: scroll; /* Enable scrolling */
    scrollbar-color: rgb(44, 44, 44) rgb(70, 70, 70);
    scrollbar-width: thin;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: var(--blur-bg);
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius-1);
    border: 1px solid var(--blur-border);
    text-align: center;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20%;
}

.custom-button {
    background-color: #000000;
    color: rgb(255, 252, 252);
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}

.custom-button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.conversations {
    max-width: 260px;
    height: 87.5vh;
    padding: var(--section-gap);
    overflow: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conversation {
    width: 100%;
    min-height: 50%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.conversation #messages {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    overflow-y: inherit;
    overflow-x: hidden;
}

.conversation .user-input {
    max-height: 10vh;
    overflow: hidden !important;
}

.conversation .user-input input {
    font-size: 15px;
    width: 100%;
    height: 100%;
    padding: 12px 15px;
    background: none;
    border: none;
    outline: none;
    color: var(--colour-3);
}

.conversation .user-input input::placeholder {
    color: var(--user-input)
}

.gradient:nth-child(1) {
    --top: 0;
    --right: 0;
    --size: 70vw;
    --blur: calc(0.5 * var(--size));
    --opacity: 0.3;
    animation: zoom_gradient 6s infinite;
}

.gradient {
    position: absolute;
    z-index: -1;
    border-radius: calc(0.5 * var(--size)); 
    background-color: var(--accent);
    background: radial-gradient(circle at center, var(--accent), var(--accent));
    width: 70vw;
    height: 70vw;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    filter: blur(calc(0.5 * 70vw)) opacity(var(--opacity));
}

.conversations {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: auto;
    min-width: 0;
    max-height: 300px; /* Adjust the height as needed */
    overflow-y: auto; /* Add overflow-y property for vertical scrolling */
}


.conversations .title {
    font-size: 14px;
    font-weight: 500;
}

.conversations .convo {
    padding: 8px 12px;
    display: flex;
    gap: 18px;
    align-items: center;
    user-select: none;
    justify-content: space-between;
}

.conversations .convo .left {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    flex: auto;
    min-width: 0;
}

.conversations i {
    color: var(--conversations);
    cursor: pointer;
}

.convo-title {
    color: var(--colour-3);
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message {

    width: 100%;
    overflow-wrap: break-word;
    display: flex;
    gap: var(--section-gap);
    padding: var(--section-gap);
    padding-bottom: 0;
}

.message:last-child {
    animation: 0.6s show_message;
}

@keyframes show_message {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
}

.message .user {
    max-width: 48px;
    max-height: 48px;
    flex-shrink: 0;
}

.message .user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    outline: 1px solid var(--blur-border);
}

/* .message .user:after {
    content: "63";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 60%;
    width: 60%;
    background: var(--colour-3);
    filter: blur(10px) opacity(0.5);
    z-index: 10000;
} */

.message .content {
    display: flex;
    flex-direction: column;
    gap: 18px;
    min-width: 0;
}

.message .content p,
.message .content li,
.message .content code {
    font-size: 15px;
    line-height: 1.3;
}

.message .user i {
    position: none
}

.new_convo {
    padding: 8px 12px;
    display: flex;
    gap: 18px;
    align-items: center;
    cursor: pointer;
    user-select: none;
    background: transparent;
    border: 1px dashed var(--conversations);
    border-radius: var(--border-radius-1);
    width: 37px; /* Adjust the width as needed */
}


.new_convo span {
    color: var(--colour-3);
    font-size: 14px;
}

.new_convo:hover {
    border-style: solid;
}

.stop_generating {
    position: absolute;
    bottom: 118px;
    /* left: 10px;
    bottom: 125px;
    right: 8px; */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000000;
}

.stop_generating button {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: var(--blur-bg);
    border-radius: var(--border-radius-1);
    border: 1px solid var(--blur-border);
    padding: 10px 15px;
    color: var(--colour-3);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    animation: show_popup 0.4s;
}

@keyframes show_popup {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
}

@keyframes hide_popup {
    to {
        opacity: 0;
        transform: translateY(10px);
    }
}

.stop_generating-hiding button {
    animation: hide_popup 0.4s;
}

.stop_generating-hidden button {
    display: none;
}

.typing {
    position: absolute;
    top: -25px;
    left: 0;
    font-size: 14px;
    animation: show_popup 0.4s;
}

.typing-hiding {
    animation: hide_popup 0.4s;
}

.typing-hidden {
    display: none;
}

input[type="checkbox"] {
    height: 0;
    width: 0;
    display: none;
}

.switch-label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 30px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: var(--blur-bg);
    border-radius: var(--border-radius-1);
    border: 1px solid var(--blur-border);
    display: block;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
    transition: 0.33s;
}

.switch-label:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    width: 20px;
    height: 20px;
    background: var(--colour-3);
    border-radius: 90px;
    transition: 0.33s;
}

input:checked+.switch-label {
    background: var(--blur-border);
}

input:checked+.switch-label:after {
    left: calc(100% - 5px - 20px);
}

.buttons {
	padding-bottom:50px!important;
    min-height: 10vh;
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
}

.field {
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 15px;
    margin-left: 15px;
}

.field .about {
    font-size: 14px;
    color: var(--colour-3);
}

.disable-scrollbars::-webkit-scrollbar {
  width: 0px;
}
    
.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

select {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);

    cursor: pointer;
    background-color: var(--blur-bg);
    border: 1px solid var(--blur-border);
    color: var(--colour-3);
    display: block;
    position: relative;
    overflow: hidden;
    outline: none;
    padding: 8px 16px;

    appearance: none;
}

.info {
    padding: 8px 12px;
    display: flex;
    gap: 18px;
    align-items: center;
    user-select: none;
    background: transparent;
    border-radius: var(--border-radius-1);
    width: 100%;
    cursor: default;
    border: 1px dashed var(--conversations)
}

.bottom_buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottom_buttons button {
    padding: 8px 12px;
    display: flex;
    gap: 18px;
    align-items: center;
    cursor: pointer;
    user-select: none;
    background: transparent;
    border: 1px solid #c7a2ff;
    border-radius: var(--border-radius-1);
    width: 18%;
}

.bottom_buttons button span {
    color: var(--colour-3);
    font-size: 14px;
}

.conversations .top {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: auto;
}

.input-box {
    overflow: hidden !important;
    display: flex;
    align-items: center;
    padding-right: 15px;
    cursor: pointer;
}       

#message-input{
	margin-top: 35px;
}

#cursor {
    line-height: 17px;
    margin-left: 3px;
    -webkit-animation: blink 0.8s infinite;
    animation: blink 0.8s infinite;
    width: 7px;
    height: 15px;
}

@keyframes blink {
    0% {
        background: #ffffff00;
    }

    50% {
        background: white;
    }

    100% {
        background: #ffffff00;
    }
}

@-webkit-keyframes blink {
    0% {
        background: #ffffff00;
    }

    50% {
        background: white;
    }

    100% {
        background: #ffffff00;
    }
}


ol,
ul {
    padding-left: 20px;
}


@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 45%;
    width: 20px;
    height: 20px;

    border-radius: 50%;
    border: 1px solid var(--conversations);
    border-top-color: white;
    animation: spinner .6s linear infinite;
}

.grecaptcha-badge {
    visibility: hidden;
}

.mobile-sidebar {
    display: none !important;
    position: absolute;
    z-index: 100000;
    top: 0;
    left: 0;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: var(--blur-bg);
    border-radius: 10px;
    border: 1px solid var(--blur-border);
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    transition: 0.33s;
}

.mobile-sidebar i {
    transition: 0.33s;
}

.rotated {
    transform: rotate(360deg);
}

@media screen and (max-width: 990px) {
    .conversations {
        display: none;
        width: 100%;
        max-width: none;
    }

    .buttons {
    flex-wrap: wrap;
    gap: 5px;
    padding-bottom: 10vh;
    margin-bottom: 10vh;
}

    .field {
    min-height: 5%;
    width: fit-content;
}

    .mobile-sidebar {
        display: flex !important;
    }
}

@media screen and (max-height: 640px) {
    body {
        height: 87vh
    }
}
.desktop-sidebar-toggle {
    display: none;
  }
  
  @media (min-width: 991px) {
    .desktop-sidebar-toggle {
      display: block;
      position: absolute;
      z-index: 100000;
      top: 0;
      left: 0;
      margin: 10px;
      font-size: 20px;
      cursor: pointer;
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      background-color: var(--blur-bg);
      border-radius: 10px;
      border: 1px solid var(--blur-border);
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.33s;
    }
  }

.conversations.hidden {
    display: none;
  }

.shown {
    display: flex;
}


a:-webkit-any-link {
    color: var(--accent);
}


.conversation .user-input textarea {
    font-size: 15px;
    width: 100%;
    height: 100%;
    padding: 12px 15px !important;
    background: none;
    border: none;
    outline: none;
    color: var(--colour-3);

    resize: vertical;
    max-height: 150px;
    min-height: 80px;
}

/* style for hljs copy */
.hljs-copy-wrapper {
    position: relative;
    overflow: hidden
}

.hljs-copy-wrapper:hover .hljs-copy-button,
.hljs-copy-button:focus {
    transform: translateX(0)
}

.hljs-copy-button {
    position: absolute;
    transform: translateX(calc(100% + 1.125em));
    top: 1em;
    right: 1em;
    width: 2rem;
    height: 2rem;
    text-indent: -9999px;
    color: #fff;
    border-radius: .25rem;
    border: 1px solid #ffffff22;
    background-color: #2d2b57;
    background-image: url('data:image/svg+xml;utf-8,<svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6 5C5.73478 5 5.48043 5.10536 5.29289 5.29289C5.10536 5.48043 5 5.73478 5 6V20C5 20.2652 5.10536 20.5196 5.29289 20.7071C5.48043 20.8946 5.73478 21 6 21H18C18.2652 21 18.5196 20.8946 18.7071 20.7071C18.8946 20.5196 19 20.2652 19 20V6C19 5.73478 18.8946 5.48043 18.7071 5.29289C18.5196 5.10536 18.2652 5 18 5H16C15.4477 5 15 4.55228 15 4C15 3.44772 15.4477 3 16 3H18C18.7956 3 19.5587 3.31607 20.1213 3.87868C20.6839 4.44129 21 5.20435 21 6V20C21 20.7957 20.6839 21.5587 20.1213 22.1213C19.5587 22.6839 18.7957 23 18 23H6C5.20435 23 4.44129 22.6839 3.87868 22.1213C3.31607 21.5587 3 20.7957 3 20V6C3 5.20435 3.31607 4.44129 3.87868 3.87868C4.44129 3.31607 5.20435 3 6 3H8C8.55228 3 9 3.44772 9 4C9 4.55228 8.55228 5 8 5H6Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M7 3C7 1.89543 7.89543 1 9 1H15C16.1046 1 17 1.89543 17 3V5C17 6.10457 16.1046 7 15 7H9C7.89543 7 7 6.10457 7 5V3ZM15 3H9V5H15V3Z" fill="white"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 200ms ease, transform 200ms ease-out
}

.hljs-copy-button:hover {
    border-color: #ffffff44
}

.hljs-copy-button:active {
    border-color: #ffffff66
}

.hljs-copy-button[data-copied="true"] {
    text-indent: 0;
    width: auto;
    background-image: none
}

@media(prefers-reduced-motion) {
    .hljs-copy-button {
        transition: none
    }
}

.hljs-copy-alert {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


/* .color-picker>fieldset {
    border: 0;
    display: flex;
    width: fit-content;
    background: var(--colour-1);
    margin-inline: auto;
    border-radius: 8px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    cursor: pointer;
    background-color: var(--blur-bg);
    border: 1px solid var(--blur-border);
    color: var(--colour-3);
    display: block;
    position: relative;
    overflow: hidden;
    outline: none;
    padding: 6px 16px;
}

.color-picker input[type="radio"]:checked {
    background-color: var(--radio-color);
}

.color-picker input[type="radio"]#light {
    --radio-color: gray;
}

.color-picker input[type="radio"]#pink {
    --radio-color: pink;
}

.color-picker input[type="radio"]#blue {
    --radio-color: blue;
}

.color-picker input[type="radio"]#green {
    --radio-color: green;
}

.color-picker input[type="radio"]#dark {
    --radio-color: #232323;
}

.pink {
    --colour-1: hsl(310 50% 90%);
    --clr-card-bg: hsl(310 50% 100%);
    --colour-3: hsl(310 50% 15%);
    --conversations: hsl(310 50% 25%);
}

.blue {
    --colour-1: hsl(209 50% 90%);
    --clr-card-bg: hsl(209 50% 100%);
    --colour-3: hsl(209 50% 15%);
    --conversations: hsl(209 50% 25%);
}

.green {
    --colour-1: hsl(109 50% 90%);
    --clr-card-bg: hsl(109 50% 100%);
    --colour-3: hsl(109 50% 15%);
    --conversations: hsl(109 50% 25%);
}

.dark {
    --colour-1: hsl(209 50% 10%);
    --clr-card-bg: hsl(209 50% 5%);
    --colour-3: hsl(209 50% 90%);
    --conversations: hsl(209 50% 80%);
}

:root:has(#pink:checked) {
    --colour-1: hsl(310 50% 90%);
    --clr-card-bg: hsl(310 50% 100%);
    --colour-3: hsl(310 50% 15%);
    --conversations: hsl(310 50% 25%);
}

:root:has(#blue:checked) {
    --colour-1: hsl(209 50% 90%);
    --clr-card-bg: hsl(209 50% 100%);
    --colour-3: hsl(209 50% 15%);
    --conversations: hsl(209 50% 25%);
}

:root:has(#green:checked) {
    --colour-1: hsl(109 50% 90%);
    --clr-card-bg: hsl(109 50% 100%);
    --colour-3: hsl(109 50% 15%);
    --conversations: hsl(109 50% 25%);
}

:root:has(#dark:checked) {
    --colour-1: hsl(209 50% 10%);
    --clr-card-bg: hsl(209 50% 5%);
    --colour-3: hsl(209 50% 90%);
    --conversations: hsl(209 50% 80%);
} */
